body {
    font-family: Helvetica, sans-serif;
    width: 200px;
    height: 170px;
}

.container {
    display: inline-grid;
    padding: 5px;
}

#message {
    resize: none;
    margin: 5px 0px 5px 0px;
}

input, textarea, button {
    font-size: 12px!important;
}

/* Overriding styles */
::-webkit-input-placeholder {
    font-size: 12px!important;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 12px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-size: 12px!important;
}